Article Generator/Article Generator.json
{
  "name": "Article Generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are an Expert Article Generator AI Agent, specialized in producing professional, SEO-optimized, and metadata-rich articles in clean, structured JSON format with mandatory user approval before finalization.\n\n1- User will give the topic about the Article.\n  ask for the below info from the user if not given:\n  **Target Audience**: Who is this for? (doctors, patients, tech professionals?) (REQUIRED)\n  **Word Count**: How long? (500/1000/1500 words?) (REQUIRED)\n  **Tone/Style**: Professional? Casual? Technical? (REQUIRED)\n  **Purpose**: Inform, persuade, or educate? (REQUIRED)\n if clarification is done:\n    Generate the Article based on the topic and follow below \"template\".\n    Show the Article and ask for the Article aprroval or editing.\n\n2.when you Generate the Article:\n    when you generate the article ask user for editing and approval.\nif response is for editing so edit the article else use the tool \"Create Doc\" and keep the title from article and when the doc is created it will return the doc \"id\" and based on this id update the doc tool \"Update Doc\" and add the article in the format as given in below template.\n\ntemplate:\nOnce you have all inputs, generate the article in this EXACT format:\n{\n  \"Article\": \"Title: [Main article title]\nSEO Title: [Search-optimized title]\nExcerpt: [Short preview text (150–160 characters)]\nMeta Description: [SEO meta description (150–160 characters)]\nCategories: [Category 1], [Category 2], [Category 3], [Category 4]\nTags: [Tag 1], [Tag 2], [Tag 3], [Tag 4], [Tag 5], [Tag 6], [Tag 7], [Tag 8], [Tag 9], [Tag 10]\nLanguage: en\nFocus Keyphrase: [Primary keyword or phrase for SEO]\nRelated Keyphrases: [Keyphrase 1], [Keyphrase 2], [Keyphrase 3], [Keyphrase 4], [Keyphrase 5], [Keyphrase 6], [Keyphrase 7]\nCanonical URL: https://[domain.com]/[slug]\nFeatured Image: inline\nOG Title: [Social media title]\nOG Description: [Social media description]\nOG Image:\nTwitter Title: [Twitter-specific title]\nTwitter Description: [Twitter-specific description]\nTwitter Image:\nWebhook URL:\nBody:\n[Full article begins here]\n\n[Article Title]\n[Introduction paragraph – hook the reader, state purpose, include focus keyphrase]\n\n[Section Heading 1]\n[Supporting details, examples, or analysis]\n\n[Section Heading 2]\n[Further explanation, context, or data-driven insights]\n\n[Conclusion Heading or paragraph]\n[Summarize takeaways, provide reflection, or suggest next steps]\",\n  \n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -704,
        -304
      ],
      "id": "4d983146-07fc-4e9d-948d-bf28cc3cd3e7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -784,
        -32
      ],
      "id": "fac32bc1-31ef-48ae-9d36-99e4123e2580",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wWQ0VcRk66frQxTF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[0].user_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -688,
        -32
      ],
      "id": "46a8393e-a2b3-4707-8ad3-6cddb7dd3414",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "folderId": "1QoUBtmssJzN9klyQHHuvJZj90DyCS37i",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `There will be the title of the Article.`, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -560,
        -32
      ],
      "id": "5a0b0418-6a1f-4842-8f74-401756038391",
      "name": "Create Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Z4eTUAEXZayPUCgV",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', `There will be the id. `, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', `Here will be the Full Article. `, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -432,
        -48
      ],
      "id": "08bb2b66-eb1f-4af7-ae99-3265b743f1f7",
      "name": "Update Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Z4eTUAEXZayPUCgV",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C09NW7TSX43",
          "mode": "list",
          "cachedResultName": "paolo-agent"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -1776,
        -304
      ],
      "id": "3d00c291-8ac9-48d7-b5a6-db47d5e89db2",
      "name": "Slack Trigger",
      "webhookId": "1e88897f-0d04-4d47-a47b-0d4d0e1c5f53",
      "credentials": {
        "slackApi": {
          "id": "CBFdugNptVedAWtu",
          "name": "Poloo App"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09NW7TSX43",
          "mode": "list",
          "cachedResultName": "paolo-agent"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger').item.json.event_ts }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -320,
        -304
      ],
      "id": "4f2484ef-49b6-4cd5-a9dd-69f48d605b07",
      "name": "Send a message",
      "webhookId": "1f44a048-1875-45ea-a3ec-cc4327ad9af1",
      "credentials": {
        "slackApi": {
          "id": "CBFdugNptVedAWtu",
          "name": "Poloo App"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6fd3685-db70-419d-a146-14e9c723dd47",
              "leftValue": "={{ $json.bot_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "9e4862b7-a72c-49fa-b5ba-a001f022de61",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1568,
        -304
      ],
      "id": "b724e805-509e-43d7-90bc-4f70cbc7faf4",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.blocks[0].elements[0].elements[1].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "1d004931-5742-478c-9583-c4303f9fa605"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06fffda9-3832-48e1-9580-ccb173657be2",
                    "leftValue": "={{ $json.files[0].url_private_download }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1360,
        -304
      ],
      "id": "170c8da7-f326-4f8b-a737-7e3cc3caff08",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $('Slack Trigger').item.json.files[0].url_private_download }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        -192
      ],
      "id": "f06d2893-d5cb-466f-9bd0-bc847ab55687",
      "name": "HTTP Request",
      "credentials": {
        "slackApi": {
          "id": "CBFdugNptVedAWtu",
          "name": "Poloo App"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -928,
        -192
      ],
      "id": "c3ee3679-68ed-44d4-9ebb-b640e89406e2",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "wWQ0VcRk66frQxTF",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Doc": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Doc": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "490a7016-c233-4baa-b73d-acee69f56872",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80338d46d1f85953201be313442ce86b52df48222556e548d7cfcf6fa95a83c1"
  },
  "id": "kmVwyS4gEoS6jmKL",
  "tags": []
}